<div class="form">
	<form action="/pokemon" method="post">
	<label>
		Name: <br>
		<!-- <input type="text" name="pokemon[name]"> -->
		<select name="pokemon[name]">
			<option value="Abomasnow">ABOMASNOW</option>
			<option value="Abra">ABRA</option>
			<option value="Absol">ABSOL</option>
			<option value="Accelgor">ACCELGOR</option>
			<option value="Aegislash">AEGISLASH</option>
			<option value="Aerodactyl">AERODACTYL</option>
			<option value="Aggron">AGGRON</option>
			<option value="Aipom">AIPOM</option>
			<option value="Alakazam">ALAKAZAM</option>
			<option value="Alomomola">ALOMOMOLA</option>
			<option value="Altaria">ALTARIA</option>
			<option value="Amaura">AMAURA</option>
			<option value="Ambipom">AMBIPOM</option>
			<option value="Amoonguss">AMOONGUSS</option>
			<option value="Ampharos">AMPHAROS</option>
			<option value="Anorith">ANORITH</option>
			<option value="Arbok">ARBOK</option>
			<option value="Arcanine">ARCANINE</option>
			<option value="Arceus">ARCEUS</option>
			<option value="Archen">ARCHEN</option>
			<option value="Archeops">ARCHEOPS</option>
			<option value="Ariados">ARIADOS</option>
			<option value="Armaldo">ARMALDO</option>
			<option value="Aromatisse">AROMATISSE</option>
			<option value="Aron">ARON</option>
			<option value="Articuno">ARTICUNO</option>
			<option value="Audino">AUDINO</option>
			<option value="Aurorus">AURORUS</option>
			<option value="Avalugg">AVALUGG</option>
			<option value="Axew">AXEW</option>
			<option value="Azelf">AZELF</option>
			<option value="Azumarill">AZUMARILL</option>
			<option value="Azurill">AZURILL</option>
			<option value="Bagon">BAGON</option>
			<option value="Baltoy">BALTOY</option>
			<option value="Banette">BANETTE</option>
			<option value="Barbaracle">BARBARACLE</option>
			<option value="Barboach">BARBOACH</option>
			<option value="Basculin">BASCULIN</option>
			<option value="Bastiodon">BASTIODON</option>
			<option value="Bayleef">BAYLEEF</option>
			<option value="Beartic">BEARTIC</option>
			<option value="Beautifly">BEAUTIFLY</option>
			<option value="Beedrill">BEEDRILL</option>
			<option value="Beheeyem">BEHEEYEM</option>
			<option value="Beldum">BELDUM</option>
			<option value="Bellossom">BELLOSSOM</option>
			<option value="Bellsprout">BELLSPROUT</option>
			<option value="Bergmite">BERGMITE</option>
			<option value="Bibarel">BIBAREL</option>
			<option value="Bidoof">BIDOOF</option>
			<option value="Binacle">BINACLE</option>
			<option value="Bisharp">BISHARP</option>
			<option value="Blastoise">BLASTOISE</option>
			<option value="Blaziken">BLAZIKEN</option>
			<option value="Blissey">BLISSEY</option>
			<option value="Blitzle">BLITZLE</option>
			<option value="Boldore">BOLDORE</option>
			<option value="Bonsly">BONSLY</option>
			<option value="Bouffalant">BOUFFALANT</option>
			<option value="Braixen">BRAIXEN</option>
			<option value="Braviary">BRAVIARY</option>
			<option value="Breloom">BRELOOM</option>
			<option value="Bronzong">BRONZONG</option>
			<option value="Bronzor">BRONZOR</option>
			<option value="Budew">BUDEW</option>
			<option value="Buizel">BUIZEL</option>
			<option value="Bulbasaur">BULBASAUR</option>
			<option value="Buneary">BUNEARY</option>
			<option value="Bunnelby">BUNNELBY</option>
			<option value="Burmy">BURMY</option>
			<option value="Butterfree">BUTTERFREE</option>
			<option value="Cacnea">CACNEA</option>
			<option value="Cacturne">CACTURNE</option>
			<option value="Camerupt">CAMERUPT</option>
			<option value="Carbink">CARBINK</option>
			<option value="Carnivine">CARNIVINE</option>
			<option value="Carracosta">CARRACOSTA</option>
			<option value="Carvanha">CARVANHA</option>
			<option value="Cascoon">CASCOON</option>
			<option value="Castform">CASTFORM</option>
			<option value="Caterpie">CATERPIE</option>
			<option value="Celebi">CELEBI</option>
			<option value="Chandelure">CHANDELURE</option>
			<option value="Chansey">CHANSEY</option>
			<option value="Charizard">CHARIZARD</option>
			<option value="Charmander">CHARMANDER</option>
			<option value="Charmeleon">CHARMELEON</option>
			<option value="Chatot">CHATOT</option>
			<option value="Cherrim">CHERRIM</option>
			<option value="Cherubi">CHERUBI</option>
			<option value="Chesnaught">CHESNAUGHT</option>
			<option value="Chespin">CHESPIN</option>
			<option value="Chikorita">CHIKORITA</option>
			<option value="Chimchar">CHIMCHAR</option>
			<option value="Chimecho">CHIMECHO</option>
			<option value="Chinchou">CHINCHOU</option>
			<option value="Chingling">CHINGLING</option>
			<option value="Cinccino">CINCCINO</option>
			<option value="Clamperl">CLAMPERL</option>
			<option value="Clauncher">CLAUNCHER</option>
			<option value="Clawitzer">CLAWITZER</option>
			<option value="Claydol">CLAYDOL</option>
			<option value="Clefable">CLEFABLE</option>
			<option value="Clefairy">CLEFAIRY</option>
			<option value="Cleffa">CLEFFA</option>
			<option value="Cloyster">CLOYSTER</option>
			<option value="Cobalion">COBALION</option>
			<option value="Cofagrigus">COFAGRIGUS</option>
			<option value="Combee">COMBEE</option>
			<option value="Combusken">COMBUSKEN</option>
			<option value="Conkeldurr">CONKELDURR</option>
			<option value="Corphish">CORPHISH</option>
			<option value="Corsola">CORSOLA</option>
			<option value="Cottonee">COTTONEE</option>
			<option value="Cradily">CRADILY</option>
			<option value="Cranidos">CRANIDOS</option>
			<option value="Crawdaunt">CRAWDAUNT</option>
			<option value="Cresselia">CRESSELIA</option>
			<option value="Croagunk">CROAGUNK</option>
			<option value="Crobat">CROBAT</option>
			<option value="Croconaw">CROCONAW</option>
			<option value="Crustle">CRUSTLE</option>
			<option value="Cryogonal">CRYOGONAL</option>
			<option value="Cubchoo">CUBCHOO</option>
			<option value="Cubone">CUBONE</option>
			<option value="Cyndaquil">CYNDAQUIL</option>
			<option value="Darkrai">DARKRAI</option>
			<option value="Darmanitan">DARMANITAN</option>
			<option value="Darumaka">DARUMAKA</option>
			<option value="Dedenne">DEDENNE</option>
			<option value="Deerling">DEERLING</option>
			<option value="Deino">DEINO</option>
			<option value="Delcatty">DELCATTY</option>
			<option value="Delibird">DELIBIRD</option>
			<option value="Delphox">DELPHOX</option>
			<option value="Deoxys">DEOXYS</option>
			<option value="Dewgong">DEWGONG</option>
			<option value="Dewott">DEWOTT</option>
			<option value="Dialga">DIALGA</option>
			<option value="Diancie">DIANCIE</option>
			<option value="Diggersby">DIGGERSBY</option>
			<option value="Diglett">DIGLETT</option>
			<option value="Ditto">DITTO</option>
			<option value="Dodrio">DODRIO</option>
			<option value="Doduo">DODUO</option>
			<option value="Donphan">DONPHAN</option>
			<option value="Doublade">DOUBLADE</option>
			<option value="Dragalge">DRAGALGE</option>
			<option value="Dragonair">DRAGONAIR</option>
			<option value="Dragonite">DRAGONITE</option>
			<option value="Drapion">DRAPION</option>
			<option value="Dratini">DRATINI</option>
			<option value="Drifblim">DRIFBLIM</option>
			<option value="Drifloon">DRIFLOON</option>
			<option value="Drilbur">DRILBUR</option>
			<option value="Drowzee">DROWZEE</option>
			<option value="Druddigon">DRUDDIGON</option>
			<option value="Ducklett">DUCKLETT</option>
			<option value="Dugtrio">DUGTRIO</option>
			<option value="Dunsparce">DUNSPARCE</option>
			<option value="Duosion">DUOSION</option>
			<option value="Durant">DURANT</option>
			<option value="Dusclops">DUSCLOPS</option>
			<option value="Dusknoir">DUSKNOIR</option>
			<option value="Duskull">DUSKULL</option>
			<option value="Dustox">DUSTOX</option>
			<option value="Dwebble">DWEBBLE</option>
			<option value="Eelektrik">EELEKTRIK</option>
			<option value="Eelektross">EELEKTROSS</option>
			<option value="Eevee">EEVEE</option>
			<option value="Ekans">EKANS</option>
			<option value="Electabuzz">ELECTABUZZ</option>
			<option value="Electivire">ELECTIVIRE</option>
			<option value="Electrike">ELECTRIKE</option>
			<option value="Electrode">ELECTRODE</option>
			<option value="Elekid">ELEKID</option>
			<option value="Elgyem">ELGYEM</option>
			<option value="Emboar">EMBOAR</option>
			<option value="Emolga">EMOLGA</option>
			<option value="Empoleon">EMPOLEON</option>
			<option value="Entei">ENTEI</option>
			<option value="Escavalier">ESCAVALIER</option>
			<option value="Espeon">ESPEON</option>
			<option value="Espurr">ESPURR</option>
			<option value="Excadrill">EXCADRILL</option>
			<option value="Exeggcute">EXEGGCUTE</option>
			<option value="Exeggutor">EXEGGUTOR</option>
			<option value="Exploud">EXPLOUD</option>
			<option value="Farfetch'd">FARFETCH'D</option>
			<option value="Fearow">FEAROW</option>
			<option value="Feebas">FEEBAS</option>
			<option value="Fennekin">FENNEKIN</option>
			<option value="Feraligatr">FERALIGATR</option>
			<option value="Ferroseed">FERROSEED</option>
			<option value="Ferrothorn">FERROTHORN</option>
			<option value="Finneon">FINNEON</option>
			<option value="Flaaffy">FLAAFFY</option>
			<option value="Flabébé">FLABÉBÉ</option>
			<option value="Flareon">FLAREON</option>
			<option value="Fletchinder">FLETCHINDER</option>
			<option value="Fletchling">FLETCHLING</option>
			<option value="Floatzel">FLOATZEL</option>
			<option value="Floette">FLOETTE</option>
			<option value="Florges">FLORGES</option>
			<option value="Flygon">FLYGON</option>
			<option value="Foongus">FOONGUS</option>
			<option value="Forretress">FORRETRESS</option>
			<option value="Fraxure">FRAXURE</option>
			<option value="Frillish">FRILLISH</option>
			<option value="Froakie">FROAKIE</option>
			<option value="Frogadier">FROGADIER</option>
			<option value="Froslass">FROSLASS</option>
			<option value="Furfrou">FURFROU</option>
			<option value="Furret">FURRET</option>
			<option value="Gabite">GABITE</option>
			<option value="Gallade">GALLADE</option>
			<option value="Galvantula">GALVANTULA</option>
			<option value="Garbodor">GARBODOR</option>
			<option value="Garchomp">GARCHOMP</option>
			<option value="Gardevoir">GARDEVOIR</option>
			<option value="Gastly">GASTLY</option>
			<option value="Gastrodon">GASTRODON</option>
			<option value="Genesect">GENESECT</option>
			<option value="Gengar">GENGAR</option>
			<option value="Geodude">GEODUDE</option>
			<option value="Gible">GIBLE</option>
			<option value="Gigalith">GIGALITH</option>
			<option value="Girafarig">GIRAFARIG</option>
			<option value="Giratina">GIRATINA</option>
			<option value="Glaceon">GLACEON</option>
			<option value="Glalie">GLALIE</option>
			<option value="Glameow">GLAMEOW</option>
			<option value="Gligar">GLIGAR</option>
			<option value="Gliscor">GLISCOR</option>
			<option value="Gloom">GLOOM</option>
			<option value="Gogoat">GOGOAT</option>
			<option value="Golbat">GOLBAT</option>
			<option value="Goldeen">GOLDEEN</option>
			<option value="Golduck">GOLDUCK</option>
			<option value="Golem">GOLEM</option>
			<option value="Golett">GOLETT</option>
			<option value="Golurk">GOLURK</option>
			<option value="Goodra">GOODRA</option>
			<option value="Goomy">GOOMY</option>
			<option value="Gorebyss">GOREBYSS</option>
			<option value="Gothita">GOTHITA</option>
			<option value="Gothitelle">GOTHITELLE</option>
			<option value="Gothorita">GOTHORITA</option>
			<option value="Gourgeist">GOURGEIST</option>
			<option value="Granbull">GRANBULL</option>
			<option value="Graveler">GRAVELER</option>
			<option value="Greninja">GRENINJA</option>
			<option value="Grimer">GRIMER</option>
			<option value="Grotle">GROTLE</option>
			<option value="Groudon">GROUDON</option>
			<option value="Grovyle">GROVYLE</option>
			<option value="Growlithe">GROWLITHE</option>
			<option value="Grumpig">GRUMPIG</option>
			<option value="Gulpin">GULPIN</option>
			<option value="Gurdurr">GURDURR</option>
			<option value="Gyarados">GYARADOS</option>
			<option value="Happiny">HAPPINY</option>
			<option value="Hariyama">HARIYAMA</option>
			<option value="Haunter">HAUNTER</option>
			<option value="Hawlucha">HAWLUCHA</option>
			<option value="Haxorus">HAXORUS</option>
			<option value="Heatmor">HEATMOR</option>
			<option value="Heatran">HEATRAN</option>
			<option value="Heliolisk">HELIOLISK</option>
			<option value="Helioptile">HELIOPTILE</option>
			<option value="Heracross">HERACROSS</option>
			<option value="Herdier">HERDIER</option>
			<option value="Hippopotas">HIPPOPOTAS</option>
			<option value="Hippowdon">HIPPOWDON</option>
			<option value="Hitmonchan">HITMONCHAN</option>
			<option value="Hitmonlee">HITMONLEE</option>
			<option value="Hitmontop">HITMONTOP</option>
			<option value="Ho-oh">HO-OH</option>
			<option value="Honchkrow">HONCHKROW</option>
			<option value="Honedge">HONEDGE</option>
			<option value="Hoopa">HOOPA</option>
			<option value="Hoothoot">HOOTHOOT</option>
			<option value="Hoppip">HOPPIP</option>
			<option value="Horsea">HORSEA</option>
			<option value="Houndoom">HOUNDOOM</option>
			<option value="Houndour">HOUNDOUR</option>
			<option value="Huntail">HUNTAIL</option>
			<option value="Hydreigon">HYDREIGON</option>
			<option value="Hypno">HYPNO</option>
			<option value="Igglybuff">IGGLYBUFF</option>
			<option value="Illumise">ILLUMISE</option>
			<option value="Infernape">INFERNAPE</option>
			<option value="Inkay">INKAY</option>
			<option value="Ivysaur">IVYSAUR</option>
			<option value="Jellicent">JELLICENT</option>
			<option value="Jigglypuff">JIGGLYPUFF</option>
			<option value="Jirachi">JIRACHI</option>
			<option value="Jolteon">JOLTEON</option>
			<option value="Joltik">JOLTIK</option>
			<option value="Jumpluff">JUMPLUFF</option>
			<option value="Jynx">JYNX</option>
			<option value="Kabuto">KABUTO</option>
			<option value="Kabutops">KABUTOPS</option>
			<option value="Kadabra">KADABRA</option>
			<option value="Kakuna">KAKUNA</option>
			<option value="Kangaskhan">KANGASKHAN</option>
			<option value="Karrablast">KARRABLAST</option>
			<option value="Kecleon">KECLEON</option>
			<option value="Keldeo">KELDEO</option>
			<option value="Kingdra">KINGDRA</option>
			<option value="Kingler">KINGLER</option>
			<option value="Kirlia">KIRLIA</option>
			<option value="Klang">KLANG</option>
			<option value="Klefki">KLEFKI</option>
			<option value="Klink">KLINK</option>
			<option value="Klinklang">KLINKLANG</option>
			<option value="Koffing">KOFFING</option>
			<option value="Krabby">KRABBY</option>
			<option value="Kricketot">KRICKETOT</option>
			<option value="Kricketune">KRICKETUNE</option>
			<option value="Krokorok">KROKOROK</option>
			<option value="Krookodile">KROOKODILE</option>
			<option value="Kyogre">KYOGRE</option>
			<option value="Kyurem">KYUREM</option>
			<option value="Lairon">LAIRON</option>
			<option value="Lampent">LAMPENT</option>
			<option value="Landorus">LANDORUS</option>
			<option value="Lanturn">LANTURN</option>
			<option value="Lapras">LAPRAS</option>
			<option value="Larvesta">LARVESTA</option>
			<option value="Larvitar">LARVITAR</option>
			<option value="Latias">LATIAS</option>
			<option value="Latios">LATIOS</option>
			<option value="Leafeon">LEAFEON</option>
			<option value="Leavanny">LEAVANNY</option>
			<option value="Ledian">LEDIAN</option>
			<option value="Ledyba">LEDYBA</option>
			<option value="Lickilicky">LICKILICKY</option>
			<option value="Lickitung">LICKITUNG</option>
			<option value="Liepard">LIEPARD</option>
			<option value="Lileep">LILEEP</option>
			<option value="Lilligant">LILLIGANT</option>
			<option value="Lillipup">LILLIPUP</option>
			<option value="Linoone">LINOONE</option>
			<option value="Litleo">LITLEO</option>
			<option value="Litwick">LITWICK</option>
			<option value="Lombre">LOMBRE</option>
			<option value="Lopunny">LOPUNNY</option>
			<option value="Lotad">LOTAD</option>
			<option value="Loudred">LOUDRED</option>
			<option value="Lucario">LUCARIO</option>
			<option value="Ludicolo">LUDICOLO</option>
			<option value="Lugia">LUGIA</option>
			<option value="Lumineon">LUMINEON</option>
			<option value="Lunatone">LUNATONE</option>
			<option value="Luvdisc">LUVDISC</option>
			<option value="Luxio">LUXIO</option>
			<option value="Luxray">LUXRAY</option>
			<option value="Machamp">MACHAMP</option>
			<option value="Machoke">MACHOKE</option>
			<option value="Machop">MACHOP</option>
			<option value="Magby">MAGBY</option>
			<option value="Magcargo">MAGCARGO</option>
			<option value="Magikarp">MAGIKARP</option>
			<option value="Magmar">MAGMAR</option>
			<option value="Magmortar">MAGMORTAR</option>
			<option value="Magnemite">MAGNEMITE</option>
			<option value="Magneton">MAGNETON</option>
			<option value="Magnezone">MAGNEZONE</option>
			<option value="Makuhita">MAKUHITA</option>
			<option value="Malamar">MALAMAR</option>
			<option value="Mamoswine">MAMOSWINE</option>
			<option value="Manaphy">MANAPHY</option>
			<option value="Mandibuzz">MANDIBUZZ</option>
			<option value="Manectric">MANECTRIC</option>
			<option value="Mankey">MANKEY</option>
			<option value="Mantine">MANTINE</option>
			<option value="Mantyke">MANTYKE</option>
			<option value="Maractus">MARACTUS</option>
			<option value="Mareep">MAREEP</option>
			<option value="Marill">MARILL</option>
			<option value="Marowak">MAROWAK</option>
			<option value="Marshtomp">MARSHTOMP</option>
			<option value="Masquerain">MASQUERAIN</option>
			<option value="Mawile">MAWILE</option>
			<option value="Medicham">MEDICHAM</option>
			<option value="Meditite">MEDITITE</option>
			<option value="Meganium">MEGANIUM</option>
			<option value="Meloetta">MELOETTA</option>
			<option value="Meowstic">MEOWSTIC</option>
			<option value="Meowth">MEOWTH</option>
			<option value="Mesprit">MESPRIT</option>
			<option value="Metagross">METAGROSS</option>
			<option value="Metang">METANG</option>
			<option value="Metapod">METAPOD</option>
			<option value="Mew">MEW</option>
			<option value="Mewtwo">MEWTWO</option>
			<option value="Mienfoo">MIENFOO</option>
			<option value="Mienshao">MIENSHAO</option>
			<option value="Mightyena">MIGHTYENA</option>
			<option value="Milotic">MILOTIC</option>
			<option value="Miltank">MILTANK</option>
			<option value="Mime Jr.">MIME JR.</option>
			<option value="Minccino">MINCCINO</option>
			<option value="Minun">MINUN</option>
			<option value="Misdreavus">MISDREAVUS</option>
			<option value="Mismagius">MISMAGIUS</option>
			<option value="Moltres">MOLTRES</option>
			<option value="Monferno">MONFERNO</option>
			<option value="Mothim">MOTHIM</option>
			<option value="Mr. Mime">MR. MIME</option>
			<option value="Mudkip">MUDKIP</option>
			<option value="Muk">MUK</option>
			<option value="Munchlax">MUNCHLAX</option>
			<option value="Munna">MUNNA</option>
			<option value="Murkrow">MURKROW</option>
			<option value="Musharna">MUSHARNA</option>
			<option value="Natu">NATU</option>
			<option value="Nidoking">NIDOKING</option>
			<option value="Nidoqueen">NIDOQUEEN</option>
			<option value="Nidoran♀">NIDORAN♀</option>
			<option value="Nidoran♂">NIDORAN♂</option>
			<option value="Nidorina">NIDORINA</option>
			<option value="Nidorino">NIDORINO</option>
			<option value="Nincada">NINCADA</option>
			<option value="Ninetales">NINETALES</option>
			<option value="Ninjask">NINJASK</option>
			<option value="Noctowl">NOCTOWL</option>
			<option value="Noibat">NOIBAT</option>
			<option value="Noivern">NOIVERN</option>
			<option value="Nosepass">NOSEPASS</option>
			<option value="Numel">NUMEL</option>
			<option value="Nuzleaf">NUZLEAF</option>
			<option value="Octillery">OCTILLERY</option>
			<option value="Oddish">ODDISH</option>
			<option value="Omanyte">OMANYTE</option>
			<option value="Omastar">OMASTAR</option>
			<option value="Onix">ONIX</option>
			<option value="Oshawott">OSHAWOTT</option>
			<option value="Pachirisu">PACHIRISU</option>
			<option value="Palkia">PALKIA</option>
			<option value="Palpitoad">PALPITOAD</option>
			<option value="Pancham">PANCHAM</option>
			<option value="Pangoro">PANGORO</option>
			<option value="Panpour">PANPOUR</option>
			<option value="Pansage">PANSAGE</option>
			<option value="Pansear">PANSEAR</option>
			<option value="Paras">PARAS</option>
			<option value="Parasect">PARASECT</option>
			<option value="Patrat">PATRAT</option>
			<option value="Pawniard">PAWNIARD</option>
			<option value="Pelipper">PELIPPER</option>
			<option value="Persian">PERSIAN</option>
			<option value="Petilil">PETILIL</option>
			<option value="Phanpy">PHANPY</option>
			<option value="Phantump">PHANTUMP</option>
			<option value="Phione">PHIONE</option>
			<option value="Pichu">PICHU</option>
			<option value="Pidgeot">PIDGEOT</option>
			<option value="Pidgeotto">PIDGEOTTO</option>
			<option value="Pidgey">PIDGEY</option>
			<option value="Pidove">PIDOVE</option>
			<option value="Pignite">PIGNITE</option>
			<option value="Pikachu">PIKACHU</option>
			<option value="Piloswine">PILOSWINE</option>
			<option value="Pineco">PINECO</option>
			<option value="Pinsir">PINSIR</option>
			<option value="Piplup">PIPLUP</option>
			<option value="Plusle">PLUSLE</option>
			<option value="Politoed">POLITOED</option>
			<option value="Poliwag">POLIWAG</option>
			<option value="Poliwhirl">POLIWHIRL</option>
			<option value="Poliwrath">POLIWRATH</option>
			<option value="Ponyta">PONYTA</option>
			<option value="Poochyena">POOCHYENA</option>
			<option value="Porygon">PORYGON</option>
			<option value="Porygon-Z">PORYGON-Z</option>
			<option value="Porygon2">PORYGON2</option>
			<option value="Primeape">PRIMEAPE</option>
			<option value="Prinplup">PRINPLUP</option>
			<option value="Probopass">PROBOPASS</option>
			<option value="Psyduck">PSYDUCK</option>
			<option value="Pumpkaboo">PUMPKABOO</option>
			<option value="Pupitar">PUPITAR</option>
			<option value="Purrloin">PURRLOIN</option>
			<option value="Purugly">PURUGLY</option>
			<option value="Pyroar">PYROAR</option>
			<option value="Quagsire">QUAGSIRE</option>
			<option value="Quilava">QUILAVA</option>
			<option value="Quilladin">QUILLADIN</option>
			<option value="Qwilfish">QWILFISH</option>
			<option value="Raichu">RAICHU</option>
			<option value="Raikou">RAIKOU</option>
			<option value="Ralts">RALTS</option>
			<option value="Rampardos">RAMPARDOS</option>
			<option value="Rapidash">RAPIDASH</option>
			<option value="Raticate">RATICATE</option>
			<option value="Rattata">RATTATA</option>
			<option value="Rayquaza">RAYQUAZA</option>
			<option value="Regice">REGICE</option>
			<option value="Regigigas">REGIGIGAS</option>
			<option value="Regirock">REGIROCK</option>
			<option value="Registeel">REGISTEEL</option>
			<option value="Relicanth">RELICANTH</option>
			<option value="Remoraid">REMORAID</option>
			<option value="Reshiram">RESHIRAM</option>
			<option value="Reuniclus">REUNICLUS</option>
			<option value="Rhydon">RHYDON</option>
			<option value="Rhyhorn">RHYHORN</option>
			<option value="Rhyperior">RHYPERIOR</option>
			<option value="Riolu">RIOLU</option>
			<option value="Roggenrola">ROGGENROLA</option>
			<option value="Roselia">ROSELIA</option>
			<option value="Roserade">ROSERADE</option>
			<option value="Rotom">ROTOM</option>
			<option value="Rufflet">RUFFLET</option>
			<option value="Sableye">SABLEYE</option>
			<option value="Salamence">SALAMENCE</option>
			<option value="Samurott">SAMUROTT</option>
			<option value="Sandile">SANDILE</option>
			<option value="Sandshrew">SANDSHREW</option>
			<option value="Sandslash">SANDSLASH</option>
			<option value="Sawk">SAWK</option>
			<option value="Sawsbuck">SAWSBUCK</option>
			<option value="Scatterbug">SCATTERBUG</option>
			<option value="Sceptile">SCEPTILE</option>
			<option value="Scizor">SCIZOR</option>
			<option value="Scolipede">SCOLIPEDE</option>
			<option value="Scrafty">SCRAFTY</option>
			<option value="Scraggy">SCRAGGY</option>
			<option value="Scyther">SCYTHER</option>
			<option value="Seadra">SEADRA</option>
			<option value="Seaking">SEAKING</option>
			<option value="Sealeo">SEALEO</option>
			<option value="Seedot">SEEDOT</option>
			<option value="Seel">SEEL</option>
			<option value="Seismitoad">SEISMITOAD</option>
			<option value="Sentret">SENTRET</option>
			<option value="Serperior">SERPERIOR</option>
			<option value="Servine">SERVINE</option>
			<option value="Seviper">SEVIPER</option>
			<option value="Sewaddle">SEWADDLE</option>
			<option value="Sharpedo">SHARPEDO</option>
			<option value="Shaymin">SHAYMIN</option>
			<option value="Shedinja">SHEDINJA</option>
			<option value="Shelgon">SHELGON</option>
			<option value="Shellder">SHELLDER</option>
			<option value="Shellos">SHELLOS</option>
			<option value="Shelmet">SHELMET</option>
			<option value="Shieldon">SHIELDON</option>
			<option value="Shiftry">SHIFTRY</option>
			<option value="Shinx">SHINX</option>
			<option value="Shroomish">SHROOMISH</option>
			<option value="Shuckle">SHUCKLE</option>
			<option value="Shuppet">SHUPPET</option>
			<option value="Sigilyph">SIGILYPH</option>
			<option value="Silcoon">SILCOON</option>
			<option value="Simipour">SIMIPOUR</option>
			<option value="Simisage">SIMISAGE</option>
			<option value="Simisear">SIMISEAR</option>
			<option value="Skarmory">SKARMORY</option>
			<option value="Skiddo">SKIDDO</option>
			<option value="Skiploom">SKIPLOOM</option>
			<option value="Skitty">SKITTY</option>
			<option value="Skorupi">SKORUPI</option>
			<option value="Skrelp">SKRELP</option>
			<option value="Skuntank">SKUNTANK</option>
			<option value="Slaking">SLAKING</option>
			<option value="Slakoth">SLAKOTH</option>
			<option value="Sliggoo">SLIGGOO</option>
			<option value="Slowbro">SLOWBRO</option>
			<option value="Slowking">SLOWKING</option>
			<option value="Slowpoke">SLOWPOKE</option>
			<option value="Slugma">SLUGMA</option>
			<option value="Slurpuff">SLURPUFF</option>
			<option value="Smeargle">SMEARGLE</option>
			<option value="Smoochum">SMOOCHUM</option>
			<option value="Sneasel">SNEASEL</option>
			<option value="Snivy">SNIVY</option>
			<option value="Snorlax">SNORLAX</option>
			<option value="Snorunt">SNORUNT</option>
			<option value="Snover">SNOVER</option>
			<option value="Snubbull">SNUBBULL</option>
			<option value="Solosis">SOLOSIS</option>
			<option value="Solrock">SOLROCK</option>
			<option value="Spearow">SPEAROW</option>
			<option value="Spewpa">SPEWPA</option>
			<option value="Spheal">SPHEAL</option>
			<option value="Spinarak">SPINARAK</option>
			<option value="Spinda">SPINDA</option>
			<option value="Spiritomb">SPIRITOMB</option>
			<option value="Spoink">SPOINK</option>
			<option value="Spritzee">SPRITZEE</option>
			<option value="Squirtle">SQUIRTLE</option>
			<option value="Stantler">STANTLER</option>
			<option value="Staraptor">STARAPTOR</option>
			<option value="Staravia">STARAVIA</option>
			<option value="Starly">STARLY</option>
			<option value="Starmie">STARMIE</option>
			<option value="Staryu">STARYU</option>
			<option value="Steelix">STEELIX</option>
			<option value="Stoutland">STOUTLAND</option>
			<option value="Stunfisk">STUNFISK</option>
			<option value="Stunky">STUNKY</option>
			<option value="Sudowoodo">SUDOWOODO</option>
			<option value="Suicune">SUICUNE</option>
			<option value="Sunflora">SUNFLORA</option>
			<option value="Sunkern">SUNKERN</option>
			<option value="Surskit">SURSKIT</option>
			<option value="Swablu">SWABLU</option>
			<option value="Swadloon">SWADLOON</option>
			<option value="Swalot">SWALOT</option>
			<option value="Swampert">SWAMPERT</option>
			<option value="Swanna">SWANNA</option>
			<option value="Swellow">SWELLOW</option>
			<option value="Swinub">SWINUB</option>
			<option value="Swirlix">SWIRLIX</option>
			<option value="Swoobat">SWOOBAT</option>
			<option value="Sylveon">SYLVEON</option>
			<option value="Taillow">TAILLOW</option>
			<option value="Talonflame">TALONFLAME</option>
			<option value="Tangela">TANGELA</option>
			<option value="Tangrowth">TANGROWTH</option>
			<option value="Tauros">TAUROS</option>
			<option value="Teddiursa">TEDDIURSA</option>
			<option value="Tentacool">TENTACOOL</option>
			<option value="Tentacruel">TENTACRUEL</option>
			<option value="Tepig">TEPIG</option>
			<option value="Terrakion">TERRAKION</option>
			<option value="Throh">THROH</option>
			<option value="Thundurus">THUNDURUS</option>
			<option value="Timburr">TIMBURR</option>
			<option value="Tirtouga">TIRTOUGA</option>
			<option value="Togekiss">TOGEKISS</option>
			<option value="Togepi">TOGEPI</option>
			<option value="Togetic">TOGETIC</option>
			<option value="Torchic">TORCHIC</option>
			<option value="Torkoal">TORKOAL</option>
			<option value="Tornadus">TORNADUS</option>
			<option value="Torterra">TORTERRA</option>
			<option value="Totodile">TOTODILE</option>
			<option value="Toxicroak">TOXICROAK</option>
			<option value="Tranquill">TRANQUILL</option>
			<option value="Trapinch">TRAPINCH</option>
			<option value="Treecko">TREECKO</option>
			<option value="Trevenant">TREVENANT</option>
			<option value="Tropius">TROPIUS</option>
			<option value="Trubbish">TRUBBISH</option>
			<option value="Turtwig">TURTWIG</option>
			<option value="Tympole">TYMPOLE</option>
			<option value="Tynamo">TYNAMO</option>
			<option value="Typhlosion">TYPHLOSION</option>
			<option value="Tyranitar">TYRANITAR</option>
			<option value="Tyrantrum">TYRANTRUM</option>
			<option value="Tyrogue">TYROGUE</option>
			<option value="Tyrunt">TYRUNT</option>
			<option value="Umbreon">UMBREON</option>
			<option value="Unfezant">UNFEZANT</option>
			<option value="Unown">UNOWN</option>
			<option value="Ursaring">URSARING</option>
			<option value="Uxie">UXIE</option>
			<option value="Vanillish">VANILLISH</option>
			<option value="Vanillite">VANILLITE</option>
			<option value="Vanilluxe">VANILLUXE</option>
			<option value="Vaporeon">VAPOREON</option>
			<option value="Venipede">VENIPEDE</option>
			<option value="Venomoth">VENOMOTH</option>
			<option value="Venonat">VENONAT</option>
			<option value="Venusaur">VENUSAUR</option>
			<option value="Vespiquen">VESPIQUEN</option>
			<option value="Vibrava">VIBRAVA</option>
			<option value="Victini">VICTINI</option>
			<option value="Victreebel">VICTREEBEL</option>
			<option value="Vigoroth">VIGOROTH</option>
			<option value="Vileplume">VILEPLUME</option>
			<option value="Virizion">VIRIZION</option>
			<option value="Vivillon">VIVILLON</option>
			<option value="Volbeat">VOLBEAT</option>
			<option value="Volcanion">VOLCANION</option>
			<option value="Volcarona">VOLCARONA</option>
			<option value="Voltorb">VOLTORB</option>
			<option value="Vullaby">VULLABY</option>
			<option value="Vulpix">VULPIX</option>
			<option value="Wailmer">WAILMER</option>
			<option value="Wailord">WAILORD</option>
			<option value="Walrein">WALREIN</option>
			<option value="Wartortle">WARTORTLE</option>
			<option value="Watchog">WATCHOG</option>
			<option value="Weavile">WEAVILE</option>
			<option value="Weedle">WEEDLE</option>
			<option value="Weepinbell">WEEPINBELL</option>
			<option value="Weezing">WEEZING</option>
			<option value="Whimsicott">WHIMSICOTT</option>
			<option value="Whirlipede">WHIRLIPEDE</option>
			<option value="Whiscash">WHISCASH</option>
			<option value="Whismur">WHISMUR</option>
			<option value="Wigglytuff">WIGGLYTUFF</option>
			<option value="Wingull">WINGULL</option>
			<option value="Wobbuffet">WOBBUFFET</option>
			<option value="Woobat">WOOBAT</option>
			<option value="Wooper">WOOPER</option>
			<option value="Wormadam">WORMADAM</option>
			<option value="Wurmple">WURMPLE</option>
			<option value="Wynaut">WYNAUT</option>
			<option value="Xatu">XATU</option>
			<option value="Xerneas">XERNEAS</option>
			<option value="Yamask">YAMASK</option>
			<option value="Yanma">YANMA</option>
			<option value="Yanmega">YANMEGA</option>
			<option value="Yveltal">YVELTAL</option>
			<option value="Zangoose">ZANGOOSE</option>
			<option value="Zapdos">ZAPDOS</option>
			<option value="Zebstrika">ZEBSTRIKA</option>
			<option value="Zekrom">ZEKROM</option>
			<option value="Zigzagoon">ZIGZAGOON</option>
			<option value="Zoroark">ZOROARK</option>
			<option value="Zorua">ZORUA</option>
			<option value="Zubat">ZUBAT</option>
			<option value="Zweilous">ZWEILOUS</option>
			<option value="Zygarde">ZYGARDE</option>
		</select>
	</label>
	<br>
		Pokemon TYPE:
		<div class="type-wrapper">
			<label>
				<input type="radio" checked="checked" name="pokemon[poke_type]" value="Normal"></input>
				<span class="type-icon type-normal">Normal</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Fire"></input>
				<span class="type-icon type-fire">Fire</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Water"></input>
				<span class="type-icon type-water">Water</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Electric"></input>
				<span class="type-icon type-electric">Electric</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Grass"></input>
				<span class="type-icon type-grass">Grass</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Ice"></input>
				<span class="type-icon type-ice">Ice</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Fighting"></input>
				<span class="type-icon type-fighting">Fighting</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Poison"></input>
				<span class="type-icon type-poison">Poison</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Ground"></input>
				<span class="type-icon type-ground">Ground</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Flying"></input>
				<span class="type-icon type-flying">Flying</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Psychic"></input>
				<span class="type-icon type-psychic">Psychic</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Bug"></input>
				<span class="type-icon type-bug">Bug</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Rock"></input>
				<span class="type-icon type-rock">Rock</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Ghost"></input>
				<span class="type-icon type-ghost">Ghost</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Dragon"></input>
				<span class="type-icon type-dragon">Dragon</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Dark"></input>
				<span class="type-icon type-dark">Dark</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Steel"></input>
				<span class="type-icon type-steel">Steel</span>
			</label>
			<label>
				<input type="radio"  name="pokemon[poke_type]" value="Fairy"></input>
				<span class="type-icon type-fairy">Fairy</span>
			</label>
		</div>
	<label>
		CP: <input type="text" name="pokemon[cp]">
	</label>
		<input type="submit" value="Add Pokemon">
	</form>
</div>