<div class="form">
	<form action="/pokemon" method="post">
	<label>
		Name: <input type="text" name="pokemon[name]">
	</label>
	<label>
		Pokemon TYPE: <input type="text" name="pokemon[poke_type]">
	</label>
	<label>
		Image URL: <input type="text" name="pokemon[img_url]">
	</label>
	<label>
		CP: <input type="text" name="pokemon[cp]">
	</label>
		<input type="submit" value="Add Pokemon">
	</form>
</div>